@keyframes fadeInLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.transparent {
  opacity: 0;
}

.animation-fadeinleft {
  animation: fadeInLeft 1.5s;
}
.animation-fadeinright {
  animation: fadeInRight 1.5s;
}
.animation-fadein {
  animation: fadeIn 1.5s;
}
