.hero {
  padding: 13.5rem 0 12.5rem;
  background-repeat: no-repeat;
  background-color: #f6f7f9;

  @media screen and (max-width: 576px) {
    padding: 4rem 0;
    padding-top: calc($header-compact + 2rem);
  }

  @media screen and (max-width: 576px) {
    padding: 4rem 0;
    padding-top: calc($header-compact + 2rem);
  }

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(
        to bottom left,
        rgba(#545e9d, 0.4) 5%,
        transparent
      ),
      linear-gradient(to bottom, #f7f8fa 55%, transparent),
      url("../images/hero_bg_mobile.jpg");
    background-position: center top, center top, center bottom;
    background-size: auto, auto, contain 50%;
  }

  @media screen and (min-width: 769px) {
    background-image: url("../images/hero_bg.jpg");
    background-position: center top;
    background-size: cover;
  }

  &__content {
    max-width: 55rem;
  }

  &__title {
    @include fluidFontSize(2rem, 3rem);
    color: $text-dark;
    text-transform: uppercase;
    margin-bottom: 5rem;
    font-weight: 600;
    word-wrap: break-word;

    @media screen and (max-width: 576px) {
      margin-bottom: 3rem;
      // text-align: center;
    }

    span {
      color: $accent;
    }
  }

  &__text {
    @include fluidFontSize(1rem, 1.25rem, $small: true);
    margin-bottom: 5rem;
    line-height: 1.5rem;
    color: $text-dark;

    @media screen and (max-width: 576px) {
      margin-bottom: 3rem;
    }
  }

  &__subtitle {
    font-weight: 600;
    margin-bottom: 0.6rem;
  }

  &__list {
    li {
      padding-left: 1.625rem;
      position: relative;
      margin-bottom: 0.25rem;

      &::before {
        content: "-";
        position: absolute;
        left: 0.5rem;
        top: 0;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 576px) {
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;

      .button {
        width: 80%;
        letter-spacing: 2px;
        // font-weight: 600;
        height: auto;
        padding: 0.75rem 0;
        font-size: 1rem;
      }
    }
  }
}
