.input {
  height: 3rem;
  padding: 0 0.625rem;
  border-radius: 0.2rem;
  border: 1px solid $input-border-primary;
  background-color: $input-background-primary;
  @include fluidFontSize(1rem, 1.125rem, $small: true);
  color: #272733;
}

.range {
  height: 3rem;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: $text-light;
    @include fluidFontSize(1rem, 1.125rem, $small: true);
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    height: 0.5rem;
    border: 1px solid $input-border-primary;
    background-color: $input-background-range;
    border-radius: 1rem;

    &::-moz-range-thumb {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: $accent;
      border: 3px solid $schema-border;
      cursor: pointer;

      &:hover {
        cursor: pointer;
        background-color: lighten($accent, 20%);
      }
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $accent;
      border: 3px solid $schema-border;
      cursor: pointer;

      &:hover {
        cursor: pointer;
        background-color: lighten($accent, 20%);
      }
    }
  }
}

.file {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $accent;
  background-color: $button-background-primary;
  text-transform: uppercase;
  font-weight: 600;
  color: #272733;
  font-size: 0.9375rem;
  border-radius: 0.1875rem;
  will-change: transform;
  transition: transform 0.1s ease-out;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in;
    cursor: pointer;
  }

  &__text {
    margin-left: 0.5rem;
  }

  input {
    display: none;
  }
}

#order-select-dropdown {
  width: 0;
  height: 0;
  position: absolute;
}
