@use "sass:math";
@import "resets";

@import "variables";
@import "mixins";
@import "animations";

@import "fonts";
@import "buttons";
@import "inputs";

@import "header";
@import "burger";
@import "hero";
@import "order";
@import "schema";
@import "footer";

// libs
@import "./libs/simplebar.min.css";

// libs customizations
@import "simplebar";
@import "nice-select2";

html {
  background-color: $background;
}

.container {
  max-width: 75rem;
  min-width: 20rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.body {
  position: relative;
}

.fullscreen {
  overflow: hidden;
}
