@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}