@import 'variables';

.header {
  background-color: rgba(16, 16, 29, 0.9);
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.1s ease-out;

  &__compact {
    position: fixed;
    height: $header-compact;
    transition: all 0.1s ease-in;
  }

  &__logo {
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: $text-light;

    @media screen and (max-width: 576px) {
      font-size: 1.5rem;
    }

    span {
      font-family: 'Raleway', sans-serif;
      color: $accent;
    }
  }

  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__menu {
    height: 80%;
    display: flex;
    align-items: center;
    gap: 3.75rem;
    color: $text-light;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;

    @media screen and (max-width: 576px) {
      display: none;
    }

    li {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        color: $text-light;
        height: 100%;

        &:hover {
          color: $accent;
        }
      }
    }
  }
}