.order {
  background-repeat: no-repeat;
  padding-top: 7.5rem;
  padding-bottom: 9.375rem;

  @media screen and (max-width: 576px) {
    padding: 4rem 0;
  }

  @media screen and (max-width: 768px) {
    background-image: url("../images/content_bg_mobile.jpg");
    background-position: center top;
    background-color: #232230;
  }

  @media screen and (min-width: 769px) {
    background-image: url("../images/content_bg.jpg");
    background-color: $background;
    background-position: center center;
  }

  &__title {
    @include fluidFontSize(1.5rem, 2.25rem);
    font-weight: 600;
    color: $text-light;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (max-width: 576px) {
      text-align: center;
      padding: 0 1rem;
      margin-bottom: 3rem;
    }

    span {
      color: $accent;
    }
  }

  &__subtitle {
    color: $text-gray;
    text-align: center;
    @include fluidFontSize(1rem, 1.125rem, $small: true);
    margin-bottom: 5rem;

    @media screen and (max-width: 576px) {
      margin-bottom: 2rem;
    }
  }

  &__form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    &-range {
      grid-column: 1 / span 2;

      @media screen and (max-width: 576px) {
        grid-column: auto;
      }
    }

    &-button-submit {
      margin-top: 1rem;
      grid-column: 2 / span 1;

      @media screen and (max-width: 576px) {
        grid-column: auto;
      }
    }
  }
}
