@import 'variables';

.order {
  background-image: url('/images/content_bg.jpg');
  background-color: $background;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 7.5rem;
  padding-bottom: 9.375rem;

  &__title {
    font-size: 2.25rem;
    font-weight: 600;
    color: $text-light;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;

    span {
      color: $accent;
    }
  }

  &__subtitle {
    color: $text-gray;
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 5rem;
  }

  &__form {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    &-range {
      grid-column: 1 / span 2;
    }

    &-button-submit {
      margin-top: 1rem;
      grid-column: 2 / span 1;
    }
  }
}