$accent: #3E9CDC;

// background
$background: #272733;

// text
$text-dark: #000000;
$text-light: #FFFFFF;
$text-gray: #BBBBBB;

// buttons
$button-background-primary: #FFFFFF;
$button-border-primary: #6F6D7B;
$button-text-primary: #2A2B30;

$button-border-accent: #FFFFFF;
$button-text-accent: #FFFFFF;

// inputs
$input-background-primary: rgba(255,255,255,0.85);
$input-background-range: rgba(255,255,255,0.70);
$input-border-primary: #FFFFFF;

// schema
$schema-border: #286690;

// header
$header-height: 6.25rem;

// footer 
$footer_background: #3D4050;