$accent: #3E9CDC;

// text
$text-dark: #000000;
$text-light: #FFFFFF;

// buttons
$button-background-primary: #FFFFFF;
$button-border-primary: #6F6D7B;
$button-text-primary: #2A2B30;

$button-border-accent: #FFFFFF;
$button-text-accent: #FFFFFF;